input {
  text-indent: 1rem;
  font-size: 20px;
  font-weight: bold;
  line-height: 2rem;
}
button {
  height: 2rem;
  font-size: 16px;
  color: navy;
}
output {
  height: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color:   #f2f2f2;
  font-size: 16px;
  font-weight: bold;
}
ul {
  list-style: none;
}
li input {
  width: 12rem;
  text-indent: 0;
  font-weight: 300;
  border: 1px solid grey;
}
.regInput {

}
.displayNone {
  display: none;
}
.display_Reg {
  display: inline;
  font-size: 18px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropBtn {
  background-color: #C0C0C0;
  border-radius: 4px;
  border: 1px solid grey;
  color: navy;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content input:hover {
  background-color: #C0C0C0;
  color: navy;
}
