label {

}
input {
  text-indent: 1rem;
  font-size: 20px;
  font-weight: bold;
  line-height: 2rem;
}
button {
  height: 2rem;
  font-size: 16px;
  color: navy;
}
output {
  height: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color:   #f2f2f2;
  font-size: 16px;
  font-weight: bold;
}
.regInput {

}
.displayNone {
  display: none;
}
.display_Reg {
  display: inline;
}
